/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
nav a.app {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a.app:visited, a.app:link {
  color: #334953;
}
nav a.app:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.app.active {
  color: #039be5;
}